# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/docs
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!README.pt-BR.md
!CHANGELOG.md
!CHANGELOG.pt-BR.md
!build-and-deploy.ps1
!build-release.ps1

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Exclude build directories
/build_*
/.deps

# Exclude release directory
/release
